<%- include('./partials/header.ejs')%>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>


<<<<<<< HEAD
<%- include('./partials/footer.ejs')%>
=======
<%- include('./partials/footer.ejs')%>
>>>>>>> 8d46a8bc0c1e02c789377e5b3e77cae371aa157a
