<%- include('./partials/header.ejs')%> <% if (user){ %>
<h1 class="user-greeting">Welcome to Flix.net, <%= user.userName%>:</h1>
<% } else{ %>
<h1>Welcome to Flix.net</h1>
<% } %>

<div class="movie-container">
  <!-- we have an array! Called parsedData -->
  <% parsedData.results.forEach((movie)=>{ %>
  <div class="movie">
    <div class="movie-contents-container">
      <a href="/movie/<%= movie.id %>"
        ><img
          src="<%= 'http://image.tmdb.org/t/p/w300' + movie.poster_path %>"
          alt="Movie logo"
        />
        <h4 class="movie-name"><%= movie.original_title %></h4>
      </a>
    </div>
  </div>
  <% })%>
</div>

<%- include('./partials/footer.ejs')%>

