<% if (user){ %> <%- include('./partials/header.ejs')%> <% }else{ %> <%-
  include('./partials/header.ejs', {user:user})%> <% } %>
  
  
  <div>
    <h1>Welcome to Flix.net</h1>
    <% if (user){ %>
    <h1><%= user.userName%></h1>
    <% } %>
  </div>

			<div class="col-sm-12 landing-page">
				<!-- we have an array! Called parsedData -->
				<% parsedData.results.forEach((movie)=>{ %>
          <div class="col-md-3 col-sm-4 poster">
            <a href="/movie/<%= movie.id %>"><img src="<%= 'http://image.tmdb.org/t/p/w300' + movie.poster_path %>" alt="Movie logo"/></a>
          </div>
        <% })%>
  
  <%- include('./partials/footer.ejs')%>
  