<%- include('../partials/header.ejs')%>
<div class="informationProfile">
  <h2>Welcome, <%=user.firstName%></h2>
  <%if(movieTitles.length) {%>
  <div class="likes">
    <div class="likes-container">
      <div class ="textLike">You've Liked these <%=user.likedMovies.length%> Movies </div><br>
      <%for(let i = 0; i < movieTitles.length; i++){%>
      <div class="liked-movies">
        <div><img class="poster" src="<%= moviePosters[i]%>" /></div>
        <div class="textTitlesLiked"> <%=movieTitles[i]%> <%}; %></div><br>
      </div>
      <% } else {%>
      <p>You have not liked any movies</p>
      <%}%>
    </div>
  </div>
</div>
<!-- Close open divs from header so footer is formatted correctly -->
</div>
</div>
</div>
<%- include('../partials/footer.ejs')%>

<style>
    .textLike{
  font-size: 130%;
    font-weight: bold;
   
  }
  .informationProfile {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 20px;
  }
  .likes {
    display: flex;
    justify-content: flex-end;
  }
  .likes-container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .liked-movies {
    display: flex;
    flex-direction: column;
    width: 250px;
    row-gap: 10px;
  }
  .poster {
    width: 200px;
    height: 300px;
  }
</style>
