<%- include('../partials/header.ejs')%>
<div class="informationProfile">
  <h2>Welcome, <%=user.firstName%></h2>
  <%if(movieTitles.length) {%>
  <p>You have liked the following Movies</p>
  <%for(let i = 0; i < movieTitles.length; i++){%>
  <div>
    <%=movieTitles[i]%>
    <img class="cast-poster" src="<%= moviePosters[i]%>" />
  </div>
  <%}; %> <% } else {%>
  <p>You have not liked any movies</p>
  <%}%>
</div>
<%- include('../partials/footer.ejs')%>
