<%- include('../partials/header.ejs')%>
  <h2>Welcome <%=user.firstName%> to your Profile</h2><br>
  <%if(movieTitles.length) {%>
  
      <div class ="textLike">You've Liked these <%=user.likedMovies.length%> Movies 
      </div><br>
        <div class="likes-container">
      <%for(let i = 0; i < movieTitles.length; i++){%>
      <div class="liked-movies">
        <div class="imagePoster">
          <img class="poster" src="<%= moviePosters[i]%>" />
        </div>
        <h4> <%=movieTitles[i]%>  </h4>
          <%}; %>
       <br>
      </div>
      <% } else {%>
      <p>You have not liked any movies</p>
      <%}%>
    </div>
  
<!-- Close open divs from header so footer is formatted correctly -->
<%- include('../partials/footer.ejs')%>
<style>
.movie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 35px;
  align-items: center;
}
.movie {
  flex-basis: 16.666667%;
  text-align: center;
}
.movie-contents-container {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
    .textLike{
  font-size: 130%;
  text-align: center;
    font-weight: bold;
   
  }
 
  .likes {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 35px;
  align-items: center;
  }
  .likes-container {
    flex-basis: 16.666667%;
  text-align: center;
  }
  .liked-movies {
    display: flex;
  flex-direction: column;
  row-gap: 3px;
  }
  .poster {
    width: 200px;
    height: 300px;
  }
  .imagePoster {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 35px;
    align-items: center;
  }
.textTitlesLiked{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
  h2{
    text-align: center;
  }
</style>