<%- include('../partials/header.ejs')%>
<h2>Welcome <%=user.firstName%> to your Profile</h2>
<br />
<%if(movieTitles.length) {%>

<div class="textLike">
  You've Liked these <%=user.likedMovies.length%> Movies
</div>
<br />
<div class="likes-container">
  <%for(let i = 0; i < movieTitles.length; i++){%>
  <div class="liked-movies">
    <a href="/movie/<%=movieIds[i]%>">
      <img class="poster" src="<%= moviePosters[i]%>" />
    </a>
    <p class="textTitlesLiked"><%=movieTitles[i]%></p>
  </div>
  <%}; %>
</div>
<% } else {%>
<p>You have not liked any movies</p>
<%}%>
<!-- Close open divs from header so footer is formatted correctly -->

<%- include('../partials/footer.ejs')%>

<style>
  .textTitlesLiked {
    text-align: center;
    font-weight: bold;
    width: 100%;
  }
  .textLike {
    text-align: center;
    font-weight: bold;
    width: 100%;
  }
  .likes-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .liked-movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30.3333%;
    margin: 10px;
  }
  .poster {
    width: 200px;
    height: 300px;
  }
  h2 {
    text-align: center;
  }
</style>